@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.home-bg-pos{
  scale: 180%;
  transform: translate(30px,-10px);
}


.green-bg-pos{
  background-position: 82% 50%;
}

@media screen and (min-width: 768px) {
  .green-bg-pos{
    background-position: 96% 50%;
  }
}

@media screen and (min-width: 1024px) {
  
  .green-bg-pos{
    background-position: 50% 50%;
  }
}

@media screen and (min-width : 1440px) {
  .home-bg-pos{
    scale:133%;
  }
}


.swiper-pagination .custom-bullet {
  background-color: #a5a1ac49;
  width: 50px;
  height: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #A5A1AC;
}

@media screen and (min-width: 1024px) {
  .swiper-pagination .custom-bullet {
    width: 60px;
    height: 7px;
  }
}
